@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap');
@import "tailwindcss";

* {
	font-family: 'Inter', sans-serif;
}
/* ...existing code... */
:root {
  --text-strong: rgba(28, 28, 28, 1);
  --text-medium: rgba(28, 28, 28, 0.4);
  --text-light: rgba(28, 28, 28, 0.2);
  --text-extra-light: rgba(28, 28, 28, 0.06);
  --primary-blue: rgba(227, 245, 255, 1);
  --primary-purple: rgba(229, 236, 246, 1);

}

.dark {
  --text-strong: rgba(255, 255, 255, 1);
  --text-medium: rgba(255, 255, 255, 0.6);
  --text-light: rgba(255, 255, 255, 0.3);
}

.left-active-border::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 16px;
  background-color: var(--text-strong);
  border-radius: 8px;
}
